{% extends "base.html" %}
{% load static %}
{% block page_content %}
<head>
</head>
<style>
.all {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
</style>
<html>
<body>
<div class="container">
<h1>Rat Tracker</h1>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
<img src="/media/projects/Unknown.jpeg">

<h2> Going to: Floor {{floor}}, Room {{room}}  <h2>
<br><br>

{% for project in projects %}


<h2>Currently on EGR floor: {{ project.floorNo }}</h2>
<br>
<h2 class="card-Location">Location: {{ project.xLocation }}, {{ project.yLocation }}</h2>
<br>
<h2 class="card-status">Status: {{ project.status }}</h2>
<br>
{% endfor %}
<!-- {% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
			<h2>Currently on EGR floor {{ project.floorNo }}</h2>
             <img class="card-img-top" src="{% static project.image %}">
             <div class="card-body">
                 <h5 class="card-Location">{{ project.xLocation }}, {{ project.yLocation }}</h5>
                 <p class="card-status">{{ project.status }}</p>
             </div>
         </div>
     </div>


     {% endfor %} -->
	 <!-- <form action="RoomObjects" method="post">
		<select id="floors">
		  <option value="first">1st floor</option>
		  <option value="second">2nd floor</option>
		  <option value="third">3rd floor</option> -->
		  <!-- <button type="submit">Submit</button> -->
		<!-- </select>
	</form>
	<form action="RoomObjects" method="post">
		<select id="rooms">
		{% for room in firstfloor %}
		 <option >{{ room.room }}</option>
		{% endfor %}
	   </select>
	  	<button type="submit">Submit</button>
	</form> -->

</div>
</body>
</html>
 {% endblock %}
